crawler/__pycache__/__init__.cpython-39.pyc
crawler/__pycache__/iCrawler.cpython-39.pyc
crawler/__pycache__/NaverCrawler.cpython-39.pyc
custom_type/__pycache__/__init__.cpython-39.pyc
urlsetter/__pycache__/__init__.cpython-39.pyc
urlsetter/__pycache__/URLSetter_Naver.cpython-39.pyc
urlsetter/__pycache__/URLSetter.cpython-39.pyc
